<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="org.instedd.ilabsea.community_scorecard"
  xmlns:tools="http://schemas.android.com/tools">

    <queries>
        <package android:name="org.instedd.ilabsea.community_scorecard.store" />
        <package android:name="org.instedd.ilabsea.community_scorecard.services" />
        <intent>
            <action android:name="com.google.android.youtube.api.service.START" />
        </intent>
        <intent>
            <action android:name="android.intent.action.SEND"/>
            <data android:mimeType="*/*" />
        </intent>
        <intent>
            <action android:name="android.intent.action.ACTION_DIAL" />
        </intent>
    </queries>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- <uses-permission android:name="android.permission.WAKE_LOCK" tools:node="remove"/> -->
    <uses-permission android:name="android.permission.CAMERA"/>

    <meta-data android:name="google_analytics_adid_collection_enabled" android:value="false" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:roundIcon="@mipmap/ic_launcher_round"
      android:allowBackup="false"
      android:screenOrientation="nosensor"
      android:theme="@style/AppTheme"
      android:requestLegacyExternalStorage="true">

      <meta-data
        android:name="com.google.firebase.messaging.default_notification_icon"
        android:resource="@mipmap/ic_launcher_round_white" />

      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustPan"
        android:screenOrientation="nosensor"
        android:exported="true">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>

        <intent-filter>
          <action android:name="android.intent.action.VIEW" />
          <category android:name="android.intent.category.DEFAULT" />
          <category android:name="android.intent.category.BROWSABLE" />
          <data
            android:scheme="https"
            android:host="isaf.digital-csc.org"
            android:pathPrefix="/scorecards"
          />
          <data
            android:scheme="http"
            android:host="isaf.digital-csc.org"
            android:pathPrefix="/scorecards"
          />
          <data
            android:scheme="https"
            android:host="isaf-stg.digital-csc.org"
            android:pathPrefix="/scorecards"
          />
          <data
            android:scheme="http"
            android:host="isaf-stg.digital-csc.org"
            android:pathPrefix="/scorecards"
          />
          <data
            android:scheme="https"
            android:host="isaf-stg.ilabsea.org"
            android:pathPrefix="/scorecards"
          />
          <data
            android:scheme="http"
            android:host="isaf-stg.ilabsea.org"
            android:pathPrefix="/scorecards"
          />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
